.editor {
  width: 30vw;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;


  textarea {
    background-color: #bebebe;
    width: 100%;
    height: auto;

    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
  }

  .top {
    overflow: hidden;
    background-color: #808080;
    width: 100%;
    text-align: center;
  }
}
