@import "../../global.scss";

.editor {
  max-height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  margin: 40px 50px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  @include mobile {
    margin: 30px 20px;
    box-shadow: none;
  }

  .wrapper {
    background-color: #f6f6f6;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    textarea {
      background-color: inherit;
      width: 97%;
      border: none;
      overflow: auto;
      outline: none;

      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;

      resize: none;
    }
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: none;
      background-color: #e8ded7;
      overflow: hidden;
      border-radius: 5px;
      padding: 6px;
      cursor: pointer;
      i {
        font-size: 18px;
      }
    }
  }

  .top {
    overflow: hidden;
    background-color: #8c6c5a;
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 15px;

    i {
      font-size: 30px;
      margin-right: 7px;
    }
  }
}
