.app{
    height: 100vh;
    background-color: #f6f6f6;


    .section{
        height: calc(100vh - 70px);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        position: relative;
        top: 70px;
    }
    
}